<template>
  <v-row justify="center">
    <v-dialog v-model="getDialog" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">Edit Note</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field v-model="getActiveTodo.title" label="Title*" required></v-text-field>
              </v-col>
            </v-row>
          </v-container>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="disableDialog">Close</v-btn>
          <v-btn color="blue darken-1" text @click="saveNote">Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
    methods: {
        ...mapActions(['disableDialog', 'updateTodo', 'toggleLoading']),
        saveNote() {
            this.updateTodo(this.getActiveTodo)
            this.disableDialog()
        }
    },
    computed: mapGetters(["getDialog", 'getActiveTodo'])
}
</script>