<template>
    <v-row>
        <v-col cols="3">
        </v-col>
        <v-col cols="6">
            <v-text-field
                label="Add new card"
                placeholder="add new card here..."
                class="ml-2"
                v-model="title"
                outlined>
            </v-text-field>
        </v-col>
        <v-btn class="mt-5" @click="onClick" outlined color="indigo">Submit</v-btn>
    </v-row>
</template>

<script>
// Perbaiki margin!!!
import { mapActions } from 'vuex'

export default {
    data: function() {
        return {
            "title": ""
        }
    },
    methods: {
        ...mapActions(['createTodo']),
        onClick() {
            this.createTodo(this.title)
        }
    }
}

</script>