<template>
    <v-progress-linear
            v-if="getIsLoading"
            color="deep-purple accent-4"
            indeterminate
            rounded
            height="6">
    </v-progress-linear>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
    computed: mapGetters(["getIsLoading"])  
}
</script>