<template>
    <div>
        <h3>{{ title }}</h3>
        <div>
            <v-virtual-scroll
                :items="this.isCompleted ? getCompleted : getUncompleted"
                :item-height="140"
                height="400"
                width="30em"
            >
                <template v-slot="{ item }">
                    <v-card
                        class=""
                        color="#385F73"
                        dark
                        width="30em"
                        :key="item.id">
                        <v-card-title>{{ displayText(item.title) }}</v-card-title>
                        <v-card-actions>
                            <v-btn @click="moveCard(item)" text>{{ buttonLabel }}</v-btn>
                            <v-btn @click="updateItem(item)" text>edit</v-btn>
                            <v-btn @click="deleteItem(item)" text>delete</v-btn>
                        </v-card-actions>
                    </v-card>
                </template>
            </v-virtual-scroll>
        </div>
    </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
    name: "Todos",
    data: function() {
        return {
            "title": "",
            "buttonLabel": "",
            "textLimit": 43
        }
    },
    props: {
        isCompleted: Boolean,
    },
    methods: {
        ...mapActions(['fetchTodos', 'removeTodo', 'updateTodo', 'enableDialog',
                       'putActiveTodo', 'updateTitle', 'setComplete', 'setUncomplete']),
        deleteItem(todo) {
            this.removeTodo(todo)
        },
        updateItem(todo) {
            this.updateTitle(todo.title)
            this.putActiveTodo(todo)
            this.enableDialog()
        },
        moveCard(item) {
            if (this.isCompleted) {
                this.setUncomplete(item)
            } else {
                this.setComplete(item)
            }
        },
        displayText(title) {
           return (title.length > this.textLimit) ? title.substr(0, this.textLimit) + '...'
                                                  : title
        }
    },
    computed: mapGetters(["getCompleted", "getUncompleted"]),
    created() {
        this.fetchTodos(this.isCompleted)
    },
    mounted() {
        this.buttonLabel = (this.isCompleted) ? "Uncomplete" : "Complete",
        this.title = (this.isCompleted) ? "Completed" : "Uncompleted"
    }
}
</script>