<template>
  <v-app>
    <v-app-bar
      app
      color="primary"
      dark
    >
      <div class="d-flex align-center">
        <v-img
          alt="Vuetify Logo"
          class="shrink mr-2"
          contain
          src="https://cdn.vuetifyjs.com/images/logos/vuetify-logo-dark.png"
          transition="scale-transition"
          width="40"
        />
        <v-spacer></v-spacer>
        <v-toolbar-title>Todo Board</v-toolbar-title>
      </div>
    </v-app-bar>

    <v-content>
      <EditDialog/>
      <LoadingBar/>
      <InputField/>
      <v-row>
        <v-col cols="1">
        </v-col>
        <Todos/>
        <v-col cols="1">
        </v-col>
        <Todos isCompleted/>
      </v-row>
    </v-content>
  </v-app>
</template>

<script>
import EditDialog from './components/EditDialog'
import InputField from './components/InputField'
import LoadingBar from './components/LoadingBar'
import Todos from './components/Todos'

export default {
  name: 'App',

  components: {
    EditDialog,
    InputField,
    LoadingBar,
    Todos
  },

  data: () => ({
    //
  }),
};
</script>
